html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>1</title>
</head>
<body>
<div>
    <img src="" alt="logo CHST">
    <ul>
        <li><a href="tel:53101349358290"><img src="image.png" alt="phone"<span>53101349358290</span> </a> </li>
        <li><a href="mailto:">info@company.com<img src="image.png" alt="email"<span>info@company.com</span> </a> </li>
    </ul>
    <ul>
        <span>Social Media</span>
        <P>
            Sable cloud beneath was dished out,the car seemed to float in the middle of an smmense
        </P>
        <li><a href="#Facebook"><img src="image.png"</a></li>
        <li><a href="#Tviter"><img src="image.png"</a></li>
        <li><a href="#Instagram"><img src="image.png"</a></li>
    </ul>
</div>
<hr>
<div>
    <address>copyright</address>
    <li><a href="#Terms of Conditions & Privacy Policy"><img src="image.png"</a></li>
</div>
</body>

</html>